@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.all-d {
    display: flex;
    height: 88%;
    width: 100%;
}


.cabeça {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: rgb(7, 6, 6);
    align-items: center;
    justify-content: space-between;
}


.busca {
    width: 500px;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-left: 230px;
}


.corretc {
    width: 43px;
    height: 40px;
    border-radius: 30px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    color: white;
    margin-left: 30px;
}

.cabeça-direita {
    display: flex;
    width: 400px;
    height: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;

}

.load {
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: gray;
}

.barra input {
    padding: 10px;
    width: 200%;
    border-radius: 20px;
    border: none;

}


.bot {
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.bot button {
    width: 43px;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
    background-color: transparent;
    color: white;
}

.user {
    background-color: white;
    width: 43px;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
    margin-right: 10px;
}

.left-side {
    width: 22%;
    height: 100%;
    background-color:#161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 8px 8px 8px;
    border-radius: 5px;
}

.upper-side {
    width: 95%;
    height: 25%;
    margin-top: 8px;

}

.info {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;

}

.descrip {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
}

.descrip i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    color: gray;

}

.list {
    width: 100%;
    height: 50px;
    
    display: flex;
    align-items: center;
}

.list ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
}

.list button {

    border-radius: 20px;
    border: none;
    padding: 5px;
    background-color: rgb(116, 115, 115);
    color: rgb(255, 255, 255);
    width: 130%;

}

.search {
    width: 100%;
    height: 50px;
   
    display: flex;
    align-items: center;
    color: white;
}

.search input {
    padding: 10px;
    width: 80%;
    border-radius: 30px;
    border: none;
    background-color: transparent;
}

.daw-side {
    width: 95%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.music {
    width: 100%;
    height: 15%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-dscr {
    width: 97%;
    height: 95%;
    background-color: transparent;
    display: flex;
    color: white;
    margin-top: 3px;
}

.img {
    width: 20%;
    height: 95%;
    background-image: url(/assets/botao-spot.jpg);
    border-radius: 10px;
    margin-right: 10px;
}

.center {
    width: 55%;
    height: 100%;
    background: linear-gradient(to bottom, #3938a0, #0a0a0a);

    margin: 8px 8px 8px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.C {
    width: 90%;
    height: 50%;
    background-color: transparent;
    margin-top: 10px;
}

.C-upp {
    width: 100%;
    height: 46px;
    background-color: transparent;
    display: flex;
    align-items: center;

}

.C-upp h4 {
    width: 10%;
    height: 20px;
    margin-left: 20px;
    background-color: rgb(196, 201, 214);
    text-align: center;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(51, 48, 48);

}

.descrpt-center {
    width: 100%;
    height: 120%;
    display: flex;



}

.music-dscr-center {
    width: 100%;
    height: 80px;
    background-color: rgb(39, 38, 38);
    display: flex;
    color: white;
}

.img-center {
    width: 20%;
    height: 95%;
    background-image: url(/assets/botao-spot.jpg);
    border-radius: 10px;
    margin-right: 10px;
}

.left-center {
    width: 48%;
    height: 100%;

}

.rigth-center {
    width: 50%;
    height: 100%;
    margin-left: 5px;
}

.music-c {
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.082);
    /* cor semitransparente */
    backdrop-filter: blur(10px);
    /* aplica o desfoque no que está atrás */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.daw-c {
    width: 90%;
    height: 40%;
    background-color: transparent;
    margin-top: 20px;
    flex-direction: column;
    display: flex;
}

.made-for {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: white;
    width: 100%;
    height: 15%;
    margin-left: 8px;
    margin-bottom: 20px;
}

.big-music {
    width: 28%;
    height: 100%;
    display: flex;
    margin-top: 5px;
    flex-direction: column;
}

.big-music img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin: 0px 5px 0px 8px;
}

.big-music h5 {
    color: antiquewhite;
    margin-top: 3px;
    text-align: start;
    margin-left: 9px;

}

.musics-c{
    display: flex;
    width: 100%;
    height: 100%;
}

.rigth-side{
    width: 20%;
    height: 100%;
    margin-top: 8px;
    display: flex;
    margin-right: 25px;
    flex-direction: column;
    
}

.play{
    width: 100%;
    height: 100%;
    background-color:#161616;
    border-radius: 5px;
    color: white;
    display: flex;
flex-direction: column;
align-items: center;

}

.play h3{
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 20px;
}

.img-play{
    height: 60%;
    width: 90%;
    background-image: url(/assets/botao-spot.jpg);
    border-radius:3px;
}

.play-button{
    width: 90%;
    height: 10%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

.play-button button{
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: transparent;
    background-color: transparent;
    color: white;
}

.des-music{
    width: 80%;
    height: 20%;
    margin-top: 10px;
    background-color: #121212;
    border-radius: 15px;
    display: flex;
    margin-bottom: 10px;
    


}